div.content{
    width: 800px;
    margin: auto;
    border: 2px solid black;
    text-align: center;
}

div.form{
    width: 400px;
    margin: auto;
    text-align: left;
}

.title{
    text-align: center;
}
div.ingredient-group:nth-child(odd){
    float: left;
    padding-left: 16%;
    padding-right: 16px;
}
div.ingredient-group:nth-child(even){
    float: left;
    padding-left: 16px;
    padding-right: 16%;
}

div.ingredient-group{
    width: 45%;
}

div.design-submit{
    text-align: center;
    margin: 20px;
}

.grid:after{
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

span.validationError {
    color: red;
}